!!!
%html.nojs{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width,initial-scale=1, minimal-ui", name: "viewport"}
    %title= current_page.data.title || "Psy-High"
    = partial 'javascripts/head'
    = stylesheet_link_tag "//brick.a.ssl.fastly.net/Source+Sans+Pro:400,400i"
    = stylesheet_link_tag "main"
    -if current_page.data.title
      %meta{property: 'og:title', content: current_page.data.title}
    %meta{name: 'description', content: t('meta.description')}
    %link{rel: 'canonical', href: canonical(current_page.url)}
    %link{rel: 'alternate', hreflang: t('header.alt_locale'), href: t('header.alt_link')}
    %meta{property: 'og:url', content: canonical(current_page.url)}
    %meta{property: 'og:image', content: canonical(asset_path :images, 'fb.jpg')}
    %meta{property: 'og:site_name', content: 'Psy-High'}
  %body{class: page_classes}
    = yield

    = partial 'partials/javascripts'
