- cls = partner.img? ? 'pa-item--img' : 'pa-item--text'
%li.pa-item{class: "#{cls}"}
  = link_to partner.url, class: 'pa-l', target: '_blank' do
    - if partner.img?
      = image_tag "partners/#{partner.id}.png", alt: partner.title
    - else
      = partner.title
