---
title: Psy-High 2014
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}

  #top.wr.wr--header
    .se--header
      = partial 'sections/header'

  %main.wr--main
    =partial 'nav'
    #about.wr--about
      .se--about
        = partial 'sections/about'

    #lineup.wr--lineup
      .se--lineup
        = partial 'sections/lineup'

    #location.wr--location
      .se--location
        = partial 'sections/location'

    #extras.wr--extras
      .se--extras
        = partial 'sections/extras'

    #tickets.wr--tickets
      .se--tickets
        = partial 'sections/tickets'

  .wr--footer
    .se--footer
      = partial 'sections/footer'
