---
title: Psy-High 2015
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}

  #top.wr.wr--header.js-section{data: {trackhash: ''}}
    .se--header
      = partial 'sections/header'

  %main.wr--main
    =partial 'nav'
    #about.wr--about.js-section
      .se--about
        = partial 'sections/about'

    #program.wr--program
      #lineup.wr--lineup.js-section
        .se--lineup.js-lup-wr
          = partial 'sections/lineup'
        .se--lineup
          = partial 'sections/lineup_list'

      #extras.wr--extras.js-section
        .se--extras
          = partial 'sections/extras'

    #location.wr--location.js-section
      .se--location
        = partial 'sections/location'


    #tickets.wr--tickets.js-section
      .se--tickets
        = partial 'sections/tickets'

  -##partners.wr--partners.js-section
  -#  .se--partners
  -#    = partial 'sections/partners'
