.header-b.header-b--altl
  = link_to t('header.alt_lang'), t('header.alt_link'), class: 'header-altl-l'
%h1.header-b--title{itemprop: 'name'} Psy-High

.header-b.header-b--byline
  .header-date
    %time{datetime: '2015-08-13', itemprop: 'startDate'} 13.&nbsp;8.
    &ndash;
    %time{datetime: '2015-08-16', itemprop: 'endDate'} 16.&nbsp;8.
    2015
  .header-location= t('header.location')

.h--bot
  -#
    .header-progress
      .progress-min.progress-limit 0&nbsp;€
      .progress-bar
        %div.progress-bar-meter{style: 'width: 30%'}
          0&nbsp;%
      .progress-max.progress-limit 4500&nbsp;€
      .progress-countdown
        Zbývá
        %span.progress-countdown
          30 dní

  .header-b.header-b--cta
    = link_to '#tickets', class: 'btn-cta js-scroll' do
      = t('header.cta')

  .header-b.header-b--soc
    = partial 'sections/header_social'
