.location-se--about
  .location-txt--about
    %h1.se-header= t('location.header')

    :markdown
      #{ t('location.description') }

    .location-gallery
      - (1..5).each do |i|
        - img = "#{i}.jpg"
        %a.location-img.js-overlay-image{href: "images/location/f/#{img}"}
          = image_tag "location/#{img}"
