.location-se--about
  .location-txt--about
    %h1.se-header= t('location.header')

    =markdown t('location.description')

%section.location-se--amenities
  %h2.location-am--title.se-header= t('location.amenities.header')
  .location-am--wr
    = t("location.amenities.desc")
    - [:food, :accomodation, :parking].each do |am|
      %section.location-am--s
        %h3= t("location.amenities.#{am}.header")
        =markdown t("location.amenities.#{am}.desc")
        .location-am--ps
          =markdown t("location.amenities.#{am}.postscriptum", default: "")
