.location-se--about
  .location-txt--about
    %h1.se-header #{ t("location.header") }

    :markdown
      #{ t("location.description") }

    .location-gallery
      - (1..6).each do |i|
        - img = "#{i}.jpg"
        %a.location-img{href: "images/location/f/#{img}"}
          = image_tag "location/#{img}"

#map.location-se--map
  .location-txt--transport
    :markdown
      #{ t("location.instructions") }
  .location-map
    /%iframe.embed--map{src: 'https://a.tiles.mapbox.com/v4/sdbs.j1h5bk8b/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2RicyIsImEiOiIxSmh5UEFJIn0.M-EuWW_GYjF5Z3k6o_BK4Q', width: "100%", height:"500"}
