%h1= t('partners.header')

%h2= t('partners.media')
%ul.pa-list
  = partial('partials/partner', collection: data.partners.media)

%h2= t('partners.main')
%ul.pa-list
  = partial('partials/partner', collection: data.partners.main)

%h2= t('partners.thanks')
%ul.pa-list
  = partial('partials/partner', collection: data.partners.thanks)

%h2= t('partners.orgs')
%ul.pa-list
  = partial('partials/partner', collection: data.partners.orgs)
