.wr--nav.js-nav
  %nav.se--nav
    = link_to 'Psy-High', '#about', class: 'nav-l'
    = link_to t('header.lineup'), '#lineup', class: 'nav-l'
    = link_to t('header.location'), '#location', class: 'nav-l'
    = link_to t('header.extra'), '#extras', class: 'nav-l'
    = link_to t('header.tickets'),  '#tickets', class: 'nav-l'
