.wr--nav.js-nav
  %nav.se--nav
    = link_to 'Psy-High', '#about', class: 'nav-l'
    = link_to 'Hudba', '#lineup', class: 'nav-l'
    = link_to 'Místo', '#location', class: 'nav-l'
    = link_to 'Extra', '#extras', class: 'nav-l'
    = link_to 'Lístky', '#tickets', class: 'nav-l'
