---
title: Psy-High 2014
---

.page{itemscope: true, itemtype: "http://schema.org/Festival"}

  .wr.wr--header
    #top.se.se--header
      = partial 'sections/header'

  %main.wr--main
    =partial 'nav'
    #about.wr--about
      .se.se--about
        = partial 'sections/about'

    .wr--lineup
      #lineup.se--lineup
        = partial 'sections/lineup'

    .wr--location
      #location.se--location
        = partial 'sections/location'

    .wr--extras
      #extras.se--extras
        = partial 'sections/extras'


  .wr--footer
    .se--footer
      = partial 'sections/footer'
